p#connection_status Loading... this may take a while, depending on your browser. Use Safari for best results.

table#dashboard
  tr
    th Server
    th CPU
    th Last updated
  each hostid in hostids
    tr.server(id=hostid.replace(/\./g,'-'))
      td.hostid= hostid
      td.cpu_loadavg.unknown -
      td.last_updated -


script
  var socket = io.connect('http://#{config.web.hostname}');

  $(document).ready(function() {

    var process_alert = function(alert) {
      console.log(alert);
      alert = JSON.parse(alert);
      last_update = new Date();

      $('tr.server#'+alert.hostid_html+' td.'+alert.type).html(alert.last_value);

      if (alert.status == "ok" ) {
        $('tr.server#'+alert.hostid_html+' td.'+alert.type).addClass('ok');
      } else {
        $('tr.server#'+alert.hostid_html+' td.'+alert.type).removeClass('ok');
      }

      $('tr.server#'+alert.hostid_html+' td.last_updated').html(last_update.toString());
    };

    socket.on('connect', function () {
      $('#connection_status').html("Connected to Apocalypse Server.");
    });

    socket.on('message', function (data) {
      data = JSON.parse(data);

      if (data.message_type == "alert") {
        process_alert(data);
      } else {
        process_hostid(data);
      }
    });

    socket.on('disconnect', function () {
      $('#connection_status').html("Not connected to Apocalypse Server.");
    });
  });
