!!! 5
html(lang="en")
  head
    title Example
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
  body
    h1 Apocalypse Monitor
    != body
