
table#hosts
  thead
    tr
      th Server
      th CPU
      th Memory (%)
      th Swap (%)
      th Disk Usage (%)
      th Last updated
  tbody
    tr
      td.hostid foo
      td.cpu 1
      td.memory.unknown
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.ok 78
      td.swap.ok 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago
    tr
      td.hostid foo
      td.cpu.ok 1
      td.memory.alert 78
      td.swap 33
      td.disk_usage 56
      td.updated_at 5 minutes ago

!= js('dashboard')
