!!! 5
html(lang="en")
  head
    title Apocalypse Dashboard
    != css('apocalypse')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
  body
    header(role="banner")
      h1 Apocalypse Dashboard
      #connection_status
        span Not connected
    article(role="main")
      != body
    footer(role="contentinfo") Apocalypse Dashboard – Copyright © 2011 Ariejan de Vroom / Kabisa ICT
