html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
html, body {
    background: #000;
    font-family: sans-serif;
    font-size: 16px/20px;
    color: #eee;
}
h1, h2, h3, h4, h5, h6, p, form, section, header, footer, article, fieldset {
    display: block;
    margin: 20px 0;
}
body {
    margin: 60px 5px;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: #999;
    padding: 10px;
    background-color: #222;
    border-top-left-radius: 5px;
    border-top: 1px solid #111;
    border-left: 1px solid #232323;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #333;
    background-color: #222;
    margin: 0;
    padding: 5px 10px;
    text-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 0 5px 20px #000;
}
header:after {
    content: ".";
    visibility: hidden;
    display: block;
    text-align: left;
    text-indent: -999em;
    height: 0;
    clear: both;
}
header h1 {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    float: left;
    width: 50%;
    color: #ccc;
}
#connection_status {
    text-align: right;
    float: left;
    width: 48%;
}
#connection_status span {
    line-height: 30px;
    font-size: 12px;
    background: #444;
    border-radius: 15px;
    padding: 5px 15px;
    color: #ccc;
    text-shadow: -1px -1px 1px #000;
    border: 1px solid #000;
    border-top-color: #444;
    border-left-color: #444;
    border-right-color: #111;
    border-bottom-color: #111;
    -webkit-box-shadow: 0 -5px 5px -5px #000;
}


table {
    width: 100%;
    color: #aaa;
    border-collapse: collapse;
}
th {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    padding: 5px 10px;
}
td {
    padding: 5px 10px;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

table tr:hover td {
    background-color: #333;
    border-left-color: #333;
    border-right-color: #333;
}
table td.disk_usage span {
    text-align: center;
    display: block;
}

table td.hostid {
    width: 25%;
    color: #fff;
}
table td.unknown,
table td.disk_usage span.unknown {
    background-color: #ffd322;
    color: #9f9f9f;
}

table td.ok,
table td.disk_usage span.ok {
    color: #30c230;
}

table tr td.alert,
table td.disk_usage span.alert {
    background-color: #c23030;
    color: #fff;
}
table tr:hover td.alert {
    background-color: #f00;
}
